
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Echony: Registro";
}

    <div> 
        <br />
        <h1>LE HEMOS ENVIAMO UN CORREO DE CONFIRMACION PARA COMPLETAR SU REGISTRO </h1><br />
         <a href="@Url.Action("Index","Login")">Ir a la pagina de inicio</a>
    </div>

