
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mensaje</title>
</head>
<body>
    <div> 
        <p>Su cuenta ha sido confirmada con exito</p><br />
         <a href="@Url.Action("Index","Login")">Iniciar Sesion</a>
        
    </div>
</body>
</html>
