*{
    padding:0;
    margin:0;
}

body {
    /*background-color: #E6ECF0;*/
    background-color:#F9F9FA;
}

.perfil_wrapper{
    
    width:98%;
    margin-top:1em;
    display:flex;
    height:auto;
    vertical-align:top;

}

.ventana_perfil_izquierda {
    flex: 0.20;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: auto;

}

.ventana_perfil_central {
    flex: 0.6;
}

.ventana_notificaciones {
    flex: 0.3;
    
}

    .ventana_notificaciones .notificaciones-container {
        background-color: white;
        border-top: 3px solid #1DA1F2;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        padding:5px;
    }
/*ELEMENTOS VENTANA CENTRAL*/
.estado {
    border-radius: 10px;
    background-color: #1DA1F2;
    margin: 0 auto 0 auto;
    border-bottom: 1px solid #eee;
    max-width: 100%;
    width: 95%;
    height: auto;
    display: block;
}


.estado .menu_estado{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height:25px;
    
}

.estado .menu_estado p{
    color:gray;
    margin-right:10px;
    font-size:25px;
    display:block;
}

.estado .menu_estado p:hover {
  cursor:pointer;
  background:black;
}

.post__wrapper {
   
    display: flex;
    
}


.estado img {
    width: 48px;
    height: 48px;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 50%;
}

.estado textarea {
    padding: 5px 0 0 5px;
    font-size: 15px;
    border: 1px solid #00CBF0;
   
    
    width: 100%;
    height: 4em;
    
}

.estado button{
    margin-bottom:10px;
}


.botones-publicar {
    display: block;
}

#publicar-post {
    padding: 10px;
    background-color: #1DA1F2;
    font-weight: bold;
}


    /*TERMINAN ESTILOS  DEL ESTADO*/

    /*ESTILOS DE LOS POSTS*/
.post {
    background-color: white;
    margin: 0 auto;
    margin-top:1em;
    border: 1px solid #eee;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    transition:0.3s;
    border-radius:10px;

}



.publicacion_modal{
    width:70%;
    margin:0 auto;
    height:20em;
    border:1px solid #eee;
    border-radius:10px;

}
.header_modal_publicacion {
    display:flex;
    width:97%;
    margin:0 auto;
    justify-content:flex-end;
}

    .header_modal_publicacion p{
        cursor:pointer;
        color:red;
    }
    .hover_botonera {
        display: block;
        transition: 0.3s;
    }
.botonera-publiacion {
    margin:5px 40px;
    display: flex;
   
    align-items: center;
    justify-content: space-between;
}

.sub_botonera{
    display:flex;
    align-items:center;
}
.botonera-publiacion p {
    color: #2C3E50;
}

.me_gusta_btn {
    padding: 5px 7px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #1DA1F2;
   
    border-radius:3px;
    margin-bottom:5px;
}

    .me_gusta_btn:hover {
        border-radius: 3px;
        border: none;
        cursor: pointer;
        color: #1DA1F2;
        background-color: white;
    }

.gusta {
    padding: 5px 7px;
    border: 0;
    font-weight: bold;
    color: white;
    background-color: #e74c3c;
    border-radius: 3px;
    margin-bottom: 5px;
}

    .gusta:hover {
        border-radius: 3px;
        border: 1px solid #eee;
        cursor: pointer;
        color: #e74c3c;
        background-color: white;
    }
.post-info {
    display: flex;
    align-items: center;
  
}


.post img {
    width: 48px;
    height: 48px;
    margin: 5px 5px 5px 10px;
    border: 1px solid #eee;
    border-radius: 50%;
}

.post-content{
    display:block;
    padding:10px 0 10px 10px;
   
    margin:0 10px 10px 30px;
   
   width:40em;
   height: auto;
}
.post-content p{
    margin-left:8px;
}

.post-comment {
    background-color: white;
    margin: 2px auto;
    border-color: #eee;
    border-radius: 10px;
    max-width: 100%;
    width: 90%;
    height: auto;
    display:block;
    
}

.botonera-wrapper {
    width: 100%;
    
    border-bottom: 1px solid #eee;
}
.coment-wrapper {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.coment-wrapper img{
    margin-right:10px;
}

.post-comment img {
  width: 38px;
  height: 38px;
  margin: 0 3px 5px 5px;     
  border: 1px solid #eee;
  border-radius: 50%;
    }

.input-comentario {
    width: 95%;
    padding:10px;
    border-radius:10px;
    border:1px solid #eee;
    font-size:15px;
    color:#686565;
}
.comment-texarea {
    width: 95%;
    margin-top:5px;
    height: auto;
    display:flex;
}

    .comment-texarea textarea {
        padding: 7px 0 0 7px;
        border-radius: 10px;
        margin: 10px;
        background-color: white;
        width: 42em;
        height: auto;
    }



.cargando {
   content: 'Cargando...';
}


.post_container {
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1em;
    display: block;
    background-color: #F9F9FA;
}

#btn-post{
    margin-left:13em;

}

    #btn-post a {
        margin-left: 5px;
        text-decoration: none;
        color: #00CBF0;
    }

#loadContainer{
    margin:0 auto;
    
}


.aviso{
    width:100%;
    border-radius:10px;
    background-color:lavender;
    text-align:center;
}

.aviso p{
    font-weight:bold;
    font-size:25px;
    line-height:4;
    color:cadetblue;
}


/*VENTANA IZQUIERDA*/
.ventana_izquierda_wrapper{
    overflow:auto;

}
.foto-perfil-wrapper {
    position: relative;
    height: auto;
   

}

.arriba {
    background-color: #1DA1F2;
    height: 6em;
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.abajo {
    border-top:3px solid white;
    background-color: white;
    height: 5em;
    padding-bottom:6px;
}

.nombre-usuario-perfil {
    margin-left: 8.5em;
    font-weight: bold;
    color: #00CBF0;
}

.foto-perfil {
    border: 3px solid white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 4em;
    left: 2em;
}

.foto-perfil-usuario {
    border: 3px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 4em;
    left: 2em;
}

.sociales{
    display:flex;
    margin:3.5em 0 5px 5px;
    
}

.sociales div{
    margin-left:10px;
}
.sociales a{
    color:gray;

}


.usuario-perfil-info {
    line-height: 3;
    background-color: #2c3e50;
    color: #95a5a6;
    font-weight: bold;
    font-size: 18px;
    padding-left:5px;
}



.menu {
    background-color: #34495e;
    
    height: 100vh;
  
}

.menu ul{
    width:100%;
    list-style:none;
    display:block;
}

    .menu li {
        display:flex;
        padding: 10px;
        transition: 0.3s;
        color: #ecf0f1;
        width:100%;
    }

    .menu a{
        display: flex;
        color: white;
        width:100%;
    }

    .menu li:hover {
        cursor: pointer;
        background-color: #2c3e50;
    }

.menu li span {
 margin-left:6em;
 padding:3px;
 color: #00CBF0;
 font-size:15px;
 font-weight: bold;
 background-color: white;
 border: 1px solid white;
 border-radius: 50%;
}
.menu li img{
    width:25px;
    height:25px;
    margin-right:5px;
}


/*Modal foto perfil*/
.modal_foto {
    width: 50%;
    height: auto;
    margin: 3em auto;
    border: 1px solid #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index:1000;
}

.modal_foto .titulo_modal{
   
    height:3em;
    display:flex;
   justify-content:space-between;
   border-bottom:2px solid #eee;
   align-items:center;
}

.modal_foto .titulo_modal h3{
    font-size:26px;
    color:gray;
    padding-left:1em;
}

.modal_foto .titulo_modal span{
    color:gray;
    cursor:pointer;
    padding-right:10px;
    font-size:25px;
}

.modal_foto .cuerpo_modal{
    height:auto;
}

.modal_foto .footer_modal{
    width:100%;
    border-top:1px solid #eee;
}


.foto_modal{
   margin:10px auto;
   width:150px;
   height:150px;
   border-radius:50%;
}

.btnFoto {
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
   
    border: 0;
    color: #1DA1F2;
    
    
    
    top:3.7em;
    left:5em;
    z-index:1000;
}
    /**background-color: white;  border-radius: 50%; font-weight: bold; transition: 0.4s;*/
    .btnFoto:hover {
        color: white;
        background-color: #1DA1F2;
    }

.botones-modal{
    padding:20px;
    margin:10px;
}

.modal_footer {
    border-top: 2px solid #eee;
    padding:10px 5px 10px 0;
    display:flex;
    justify-content:flex-end;
}

.contenido-comentario-container{
    display:flex;
}

    .contenido-comentario-container span {
        color: #1DA1F2;
        font-weight: bold;
        margin-right: 5px;
    }

/*BUSQUEDA*/

.menu_home_container{
    display:flex;
    justify-content:flex-start;
    margin-left:-88em;
}
.menu_home_container input[type=search]{
    padding:7px 3px;
    width:18em;
    border-radius:5px;
    border:0;
}
    .menu_home_container input[type=submit] {
        font-weight: bold;
        padding: 5px 3px;
        border-radius: 10px;
        color: white;
        background-color: #34495E;
        transition: 0.4s;
        border: 1px solid white;
    }

        .menu_home_container input[type=submit]:hover {
           
        
           cursor:pointer;
            color: #34495E;
            background-color: white;
        }

.full-container-busqueda {
    margin: 1em auto;
    width: 90%;
    background-color: white;
    border: 1px solid #ddd;
    height: auto;
}
.busqueda-container {
   
    width:70%;
    margin:1em auto;
    
}

.titulo_busqueda{
    margin:0 auto;
}

.busqueda-container .perfil {
    display: flex;

    border: 1px solid #eee;
    height: 5em;
    margin: 1em auto;
    width: 50%;
    background-color: #F9F9FA;
}


.perfil a {
    text-decoration: none;
    font-weight: bold;
    color: #2C3E50;
    font-size:18px;
}
.perfil a:hover {
    text-decoration:underline;
   
}

.perfil img{
    width:75px;
    height:75px;
}

.buscador_wrapper{
    width:50%;
    margin:1em auto;
}

.busqueda_header{
   
   width:100%;
   border-bottom:1px solid #eee;
   padding:10px;
}

.busqueda_header h3{
    font-size:27px;
}

.perfil  .info{
    padding-left:5px;
}
/*TARJETA SOLICITUD DE AMISTAD*/
.SolicitudContainer {
    width: 50%;
    height: auto;
    margin: 2em;
    background-color: white;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
}

.SolicitudContainer img{
    width:80px;
    height:80px;
}

.SolicitudContainer .info_solicitud{
    padding:10px;
}

.SolicitudContainer h3 {
   font-size:22px;
}


.SolicitudContainer p{
    color:gray;
}

    .SolicitudContainer .solicitud_botonera{
        display:flex;
        
    }
    .SolicitudContainer .solicitud_botonera input{
        margin-left:10px;
        width:5em;
        height:3em;
        border:0;

    }

    /*BOTON SOLICITUD*/
.ocultarBoton{
    display:none;
}

.mostrarBoton{
    display:block;
}

/*NOTIFICACIONES*/
.notificaciones_container{
    margin:10px;
    padding:10px;
    background-color:white;
    width:70%;
    height:auto;
}

.notificaciones_header{
    margin-top:15px;
    margin-bottom:15px;
    border-bottom:1px solid #eee;
}

/*MODAL DE LIKES*/
.dialog_likes{
    width:40%;
    margin:0 auto;
    height:auto;
    border:1px solid #eee;
    border-radius:10px;
}

.like_tarjeta{
  
    width:95%;
    margin:10px auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.dialog_likes_header{
    display:flex;
    justify-content:space-between;
    width:98%;
    margin:5px auto;
    border-bottom:1px solid #eee;
}

.cerrar_likes {
    font-size: 22px;
    color: red;
    cursor: pointer;
}

.foto_like{
    width:50px;
    height:50px;
}

/*Botones sociales*/
#boton_enviar {
    margin-right:5px;
    border: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color:white;
    background-color: #2980b9;
    cursor:pointer;
}


#boton_cancelar {
    margin-right: 5px;
    border: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #c0392b;
    cursor: pointer;
}

#boton_eliminar_amigo {
    margin-right: 5px;
    border: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #27ae60;
    cursor: pointer;
}

.aceptar_btn {
    margin-right: 5px;
    border: 0;
    padding: 10px;
    width: 50%;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #27ae60;
    cursor: pointer;
}

.rechazar_btn {
    margin-right: 5px;
    border: 0;
    padding: 10px;
    width: 50%;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #c0392b;
    cursor: pointer;
}


.mostrar_likes {
    border: 0;
    background-color: #2c3e50;
    font-weight:bold;
    color:white;
    padding:3px;
}


/*Loader Styles*/
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

/*Replt Style*/
.responder{
    color:cornflowerblue;
    font-size:14px;
}

.responder:hover{
    text-decoration:underline;
    cursor:pointer;
}


.input_addreply {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
    font-size: 14px;
    color: #686565;
}


/*Menu desplegable*/
.nav__desplegable {
    margin-top: 65px;
    position: absolute;
    right: 5px;
    top: 0;
    width:100%;
    height:100vh;
    background-color: white;
    transition: all 0.4s;
    transform:translateX(-100);
}

.menu__desplegable {
    list-style: none;
    
}

.menu__desplegable li{
    padding:15px;
    border-bottom:1px solid #eee;
}

#tuggle-menu{
    display:none;
}

#tuggle-menu:checked ~ .nav__desplegable{
    transform:translateX(0);
}