@model UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Echony: Home";
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor
   /* if (this.HttpContextAccessor.HttpContext.Session.GetString("id") == null)
    {
        this.HttpContextAccessor.HttpContext.Response.Redirect(Url.Action("Index", "Home"));
       
    }*/
}


<div>
    <h1>Connectado l</h1>


</div>
