@model UsuarioViewModel
@{
    ViewData["Title"] = "Notificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="notificaciones_container">
    <div class="notificaciones_header">
        <h2>Notificaciones</h2>
    </div>
    

    @if (Model.AmistadList.Count == 0)
    {
        <h3>No tiene ninguna notificacion</h3>

    }
    else
    {

        @foreach (var noti in Model.AmistadList)
        {
            <div class="SolicitudContainer">
                <div>

                    <img src="~/images/Fotos_Usuarios/@noti.Emisor.Usuario.Foto.RutaFoto" />
                </div>
                <div class="info_solicitud">

                    <h3 id="nombre_prueba">@noti.Emisor.Usuario.Nombre @noti.Emisor.Usuario.Apellido</h3>

                  
                </div>
                <div class="solicitud_botonera">

                   <a class="aceptar_btn" href="/Social/AceptarSolicitud/@noti.Id?emisorId=@noti.Emisor.UsuarioId&receptorId=@noti.Receptor.UsuarioId">Aceptar</a>
                    <a class="rechazar_btn" href="/Social/RechazarSolicitud/@noti.Id?solicitudId=@noti.Id">Rechazar</a>
                   
                    
                </div>
            </div>



        }



    }
</div>
